@model Vu_Victoria_HW2.Models.CateringOrder

@{
    ViewData["Title"] = "Bevo's Tacos - Catering";
}

<h1>Checkout Catering Order</h1>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="CateringTotals">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustomerCode" class="control-label"></label>
                <input asp-for="CustomerCode" class="form-control" />
                <span asp-validation-for="CustomerCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfBurgers" class="control-label"></label>
                <input asp-for="NumberOfBurgers" class="form-control" />
                <span asp-validation-for="NumberOfBurgers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfTacos" class="control-label"></label>
                <input asp-for="NumberOfTacos" class="form-control" />
                <span asp-validation-for="NumberOfTacos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryFee" class="control-label"></label>
                <input asp-for="DeliveryFee" class="form-control" />
                <span asp-validation-for="DeliveryFee" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PreferredCustomer" /> @Html.DisplayNameFor(model => model.PreferredCustomer)
                </label>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Checkout" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
